<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

</head>
<style>
    .item {
        background-color: white;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #5CB85C;
        margin: 0 4% 15px 4%;
        padding: 15px;
        max-width: 170px;
        min-width: 170px;
    }

    .addCart {
        width: 100%;
        height: 35px;
        border: 0;
        border-radius: 5px;
        background-color: #5CB85C;
        color: white;
    }
    @keyframes scaleUp {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.5);
        }
    }
    .product-fly {
        position: fixed;
        width: 60px;
        height: 60px;
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 9999;
        transition: top 1s ease-in-out, left 1s ease-in-out;
        animation: scaleUp 1s ease-in-out;
    }
    .listPage {
        padding: 10px;
        text-align: center;
        list-style: none;
        margin: 0 auto;
    }

    .listPage li {
        background-color: white;
        padding: 10px 20px;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }

    .listPage .active {
        background-color: #5CB85C;
        color: white;
    }
    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .counter input {
        width: 30px;
        line-height: 20px;
        font-size: 15px;
        text-align: center;
        appearance: none;
        border: 0.5px solid gray;
    }

    .counter span {
        display: block;
        font-size: 15px;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
    }
    #search {
        width: 40%;
    }
    .row1{
        display: grid;
        grid-template-columns: auto auto;
    }
    .row1 > p{
        text-align: right;
    }
    @media only screen and (max-width: 915px) {
        #search {
            width:66%;
        }
        #imgBr{
            width: 70px;
            margin-left: 10px;
        }
    }
    .title-footer{
        font-size: 18px;
    }
    footer{
        font-size: 13px;
        margin-top: 20px;
    }
    ul {
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #5CB85C;
    }
</style>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}"><img id="imgBr"
                                                    src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                                                    alt="brand_icon" width="100px"></a>
        <form class="d-flex" id="search" role="search" th:action="@{/cart}" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchProductName">
            <button style="background-color: #5CB85C; color:white;" class="btn btn-outline-success border-0"
                    type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/#productAll}">SẢN PHẨM</a>
                </li>
                <div class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DANH MỤC
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/#productAll}">Tất cả sản phẩm</a></li>
                        <th:block th:each="category:${categoryList}">
                            <li><a class="dropdown-item" th:href="@{'/categoryByID/' + ${category.categoryID}}">[[${category.categoryName}]]</a></li>
                        </th:block>
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order_user}">ĐƠN HÀNG</a>
                </li>
            </ul>

        </div>
        <a class="nav-link" style="margin: 0 2%;" th:href="@{/cart}"><i class="fa-solid fa-basket-shopping"><span
                class="translate-middle badge border border-light rounded-circle bg-danger"
                style="--bs-badge-font-size: 0.5em;" th:text="${totalQuantity}" id="cartBadge">10</span></i>GIỎ HÀNG</a>
        <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
			<span th:case="${false}">
					<a class="navbar-brand me-1 fs-6" th:href="@{/login}">Đăng nhập</a>|<a class="navbar-brand ms-1 fs-6" th:href="@{/register}">Đăng ký</a>
				</span>
            <span th:case="${true}">
                    <div class="dropdown">
                        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    		<span th:text="${loggedInUser.lastName}"></span>
							<span> </span>
							<span th:text="${loggedInUser.firstName}"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/manage-user-account}">Thông tin cá nhân</a></li>
<!--                            <li><a class="dropdown-item" href="#">Sửa thông tin cá nhân</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>-->
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
                        </ul>

					</div>
				</span>
        </div>

    </div>
</nav>

<div class="row px-5 py-4">
    <div class="col pt-3">
        <div class="row list">
            <th:block th:each="product:${products}">
                <div class="col item">
                    <a th:href="@{'/productInfoUser/' + ${product.productID}}">
                        <img th:src="@{${product.getPhotosImagePath}}" height="100" width="100" title="ảnh"></img>
                    </a>
                    <h6>[[${product.productName}]]</h6>
                    <div style="position: sticky; top:100%;">
                        <p><span>[[${#numbers.formatDecimal(product.price, 1 , 'POINT', 0 , 'DEFAULT')}]] ₫</span> / <span>[[${product.unit}]]</span></p>
                        <button class="addCart" th:attr="onclick=|addToCart('${product.productID}', '${product.productName}', 1, ${product.price},'${product.img}', ${product.quantity})|">Thêm vào giỏ</button>
                    </div>
                </div>
            </th:block>

        </div>
        <div style="width:100%; position:sticky; top:100%;">
            <ul class="listPage">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>

    </div>
    <div class="col">
        <h4>Giỏ hàng</h4>
        <hr>
        <table class="table text-center align-middle border">
            <thead>
            <tr>
                <th scope="col-1">STT</th>
                <th scope="col-1"></th>
                <th scope="col-5">Tên sản phẩm</th>
                <th scope="col-2">Số lượng</th>
                <th scope="col-1">Giá bán</th>
                <th scope="col-1">Thành tiền</th>
                <th scope="col-1"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item, itemInfo : ${cartItems}">
                <td th:text="${itemInfo.index + 1}">1</td>
                <td><img th:src="@{'/images/'+ ${item.productId} +'/' + ${item.imageProduct}}" alt="" width="50"></td>
                <td th:text="${item.productName}">Cà chua</td>
                <td>
                    <div class="counter">
                        <span class="down" th:attr="onclick=|decreaseCount('${item.productId}', this, '${item.limitQuantity}')|">-</span>
                        <input type="text" th:value="${item.quantity}" th:attr="id='quantityInput' + ${item.productId}, onchange=|updateCartItem('${item.productId}', this.value, ${item.limitQuantity} )|" data-product-id="${item.productId}">
                        <span class="up" th:attr="onclick=|increaseCount('${item.productId}', this, '${item.limitQuantity}')|" >+</span>
                    </div>
                </td>
                <td th:attr="id='unitPrice' + ${item.productId}" th:text="${#numbers.formatDecimal(item.unitPrice, 1 , 'POINT', 0 , 'DEFAULT')}+ ' ₫'">15.000</td>
                <td th:attr="id='itemTotalPrice' + ${item.productId}" th:text="${#numbers.formatDecimal(item.totalPrice, 1 , 'POINT', 0 , 'DEFAULT')}+ ' ₫'">15.000</td>
                <td>
                    <i class="fa-regular fa-trash-can" th:attr="onclick=|removeFromCart('${item.productId}')|" style="cursor: pointer;"></i>
                </td>

            </tr>


            </tbody>
        </table>

        <div  class="border px-4 pt-3">
            <div class="row1">
                <h6>Tổng số lượng</h6>
                <p th:text="${totalQuantity}" th:attr="id='totalQuantity'">3</p>
            </div>
            <div class="row1">
                <h6>Tạm tính</h6>
                <p th:text="${#numbers.formatDecimal(totalPrice, 1 , 'POINT', 0 , 'DEFAULT')}+ ' ₫'" th:attr="class='totalPrice'">45000</p>
            </div>
            <hr>
            <div class="row1">
                <h6>Thành tiền</h6>
                <p th:text="${#numbers.formatDecimal(totalPrice, 1 , 'POINT', 0 , 'DEFAULT')}+ ' ₫'" th:attr="class='totalPrice'">60000</p>
            </div>
        </div>




        <a href="/purchase"><button style="background-color: #5CB85C;" class="btn btn-success mt-5 w-100 border-0">Mua hàng</button></a>
    </div>
</div>
<footer>
    <div class="row" style="background-color: #333; color:white; padding: 15px 200px;">
        <div class="col-6">
            <div class="title-footer"><span>Giới thiệu</span></div>
            <hr>
            <p>
                ORGANIC - Chuyên cung cấp tất cả các mặt hàng rau củ quả sạch, không chất bảo quản, an toàn cho sức khoẻ, đáp ứng nhu cầu của tất cả khách hàng.
            </p>
            <p>
                <i class="fa fa-phone"></i> <span class="margin-left-md me-3">0935708386</span>
                <i class="fa fa-envelope margin-left-xl"></i> <span class="margin-left-md">vegetablestore@gmail.com
          </span>
            </p>
            <ul class="list-inline d-flex">
                <li><a href="#">Quyền riêng tư</a></li>
                <li class="mx-3"><a href="#">Điều khoản</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>

        </div>
        <div class="col-3">
            <div class="title-footer"><span>Phương thức thanh toán</span></div>
            <hr>
            <p>Hỗ trợ thanh toán qua VNQR-Pay, Paypal, Online Banking và các loại thẻ tín dụng</p>
            <img class="img-responsive" src="https://misolhouse.com/themes/default/shop/assets//images/payment-methods.png" alt="Payment Methods" width="250">



        </div>
        <div class="col-3">
            <div class="title-footer"><span>Theo dõi</span></div>
            <hr>
            <p>Theo dõi trực tiếp các trang của chúng tôi trên mạng xã hội</p>
            <ul class="follow-us d-flex p-0">
                <li class="me-3"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-dark text-white" style="height: 50px; padding:15px 200px">
        <div class="copyright line-height-lg col">
            &copy; 2023 ORGANIC
        </div>
        <div class="col">Shop thực phẩm sạch số 1 Đà Nẵng - Luôn tươi ngon mỗi ngày!  </div>
    </div>

</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
    let thisPage = 1;
    let limit = 6;
    let list = document.querySelectorAll('.list .item');

    function loadItem() {
        let beginGet = limit * (thisPage - 1);
        let endGet = limit * thisPage - 1;
        list.forEach((item, key) => {
            if (key >= beginGet && key <= endGet) {
                item.style.display = 'block';

            }
            else {
                item.style.display = 'none';
            }
        })
        listPage();

    }
    loadItem();
    function listPage() {
        let count = Math.ceil(list.length / limit);
        document.querySelector('.listPage').innerHTML = '';

        if (thisPage != 1) {
            let prev = document.createElement('li');
            prev.innerHTML = '<i class="fa-solid fa-angles-left"></i>';
            prev.setAttribute('onclick', "changePage(" + (thisPage - 1) + ")");
            document.querySelector('.listPage').appendChild(prev);
        }

        for (i = 1; i <= count; i++) {
            let newPage = document.createElement('li');
            newPage.innerText = i;
            if (i == thisPage) {
                newPage.classList.add('active');
            }
            newPage.setAttribute('onclick', "changePage(" + i + ")");
            document.querySelector('.listPage').appendChild(newPage);
        }
        if (thisPage != count) {
            let next = document.createElement('li');
            next.innerHTML = '<i class="fa-solid fa-angles-right"></i>';
            next.setAttribute('onclick', "changePage(" + (thisPage + 1) + ")");
            document.querySelector('.listPage').appendChild(next);
        }
    }
    function changePage(i) {
        thisPage = i;
        loadItem();
    }

    async function addToCart(productId, productName, quantity, unitPrice, imageProduct, limitQuantity) {

        if(limitQuantity > 0) {
            try {
                const response = await fetch('/cart/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        productId: productId,
                        productName: productName,
                        quantity: quantity,
                        unitPrice: unitPrice,
                        imageProduct: imageProduct,
                        limitQuantity: limitQuantity

                    })
                });

                if (response.ok) {
                    console.log('Thêm vào giỏ hàng thành công!');
                    animateProductFly(imageProduct, productId);

                } else if (response.status === 400) {
                    const data = await response.text();

                    console.error(data); // Hiển thị thông báo lỗi "Hết hàng"
                    // var button = document.querySelector('.addCart');
                    // button.disabled = true;

                    Swal.fire({
                        icon: 'error',
                        title: 'Bạn đã thêm vào giỏ hàng quá tối đa số lượng sản phẩm có sẵn!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                } else {
                    console.error('Thêm vào giỏ hàng thất bại!');
                }
            } catch (error) {
                console.error(error);
            }
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Sản phẩm đã hết hàng!',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
        }


    }
    async function removeFromCart(productId) {
        console.log(productId)
        try {
            const response = await fetch('cart/remove', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId: productId
                })
            });

            if (response.ok) {

                console.log('Xóa khỏi giỏ hàng thành công!');
                location.reload();
            } else {
                console.error('Xóa khỏi giỏ hàng thất bại!');
            }
        } catch (error) {
            console.error(error);
        }
    }

    async function decreaseCount(productId, element, limitQuantity) {
        const config = {style : 'currency', currency: 'VND'}
        var inputElement = element.parentElement.querySelector('input');
        var quantity = parseInt(inputElement.value);

        var unitPriceDOM = document.getElementById(`unitPrice${productId}`);
        var itemTotalPriceDOM = document.getElementById(`itemTotalPrice${productId}`);


        if (quantity > 0) {
            quantity--;
            inputElement.value = quantity;
            await updateCartItem(productId, quantity, limitQuantity);

            //update ui
            let unitPrice = parseInt(unitPriceDOM.innerText.replace(".", ""));
            let itemTotalPrice = new Intl.NumberFormat('vi-VN', config).format(quantity * unitPrice);
            itemTotalPriceDOM.innerText = itemTotalPrice.toString() ;

            //update total quantity, total price
            updateTotal()


        }
    }
    async function increaseCount(productId, element, limitQuantity) {
        const config = {style : 'currency', currency: 'VND'};
        var inputElement = element.parentElement.querySelector('input');
        var quantity = parseInt(inputElement.value);

        var unitPriceDOM = document.getElementById(`unitPrice${productId}`);
        var itemTotalPriceDOM = document.getElementById(`itemTotalPrice${productId}`);




        if (limitQuantity > quantity) {
            quantity++;
            inputElement.value = quantity;
            await updateCartItem(productId, quantity, limitQuantity);

            //update ui
            let unitPrice = parseInt(unitPriceDOM.innerText.replace(".",""));
            let itemTotalPrice = new Intl.NumberFormat('vi-VN', config).format(quantity * unitPrice);

            itemTotalPriceDOM.innerText = itemTotalPrice.toString();

            //update total quantity, total price
            updateTotal()

        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Sản phẩm này chỉ còn ' + limitQuantity + ' sản phẩm!',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
        }
    }

    async function updateCartItem(productId, quantity, limitQuantity) {
        const config = {style : 'currency', currency: 'VND'};
        console.log(quantity, limitQuantity);


        let unitPriceDOM = document.getElementById(`unitPrice${productId}`);
        let itemTotalPriceDOM = document.getElementById(`itemTotalPrice${productId}`);

        if(limitQuantity >= quantity && quantity >=1) {
            try {
                const response = await fetch('cart/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ productId: productId, quantity: quantity }),
                });

                if (response.ok) {

                    //update ui
                    let unitPrice = parseInt(unitPriceDOM.innerText.replace(".", ""));
                    let itemTotalPrice = new Intl.NumberFormat('vi-VN', config).format(quantity * unitPrice);
                    itemTotalPriceDOM.innerText = itemTotalPrice.toString() ;

                    updateTotal()
                } else {
                    console.error('Có lỗi xảy ra khi cập nhật giỏ hàng.');
                }

            } catch (error) {
                console.error('Lỗi:', error.message);
            }
        } else if( quantity <0){
            Swal.fire({
                icon: 'error',
                title: 'Vui lòng nhập số lượng ít nhất một sản phẩm!',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            let inputElement = document.getElementById(`quantityInput${productId}`)
            inputElement.value = 1
        }
        else if( quantity == 0){
            await removeFromCart(productId);
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Sản phẩm này chỉ còn ' + limitQuantity + ' sản phẩm!',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            let inputElement = document.getElementById(`quantityInput${productId}`)
            console.log(inputElement)
            inputElement.value = limitQuantity
        }

    }

    function animateProductFly(imageProduct, productId) {
        const productImage = document.querySelector(`img[src$='${imageProduct}']`);
        if (productImage) {
            // Tạo div để tạo hiệu ứng bay vào giỏ
            const productFly = document.createElement('div');
            productFly.classList.add('product-fly');
            // đặt nền là ảnh product
            productFly.style.backgroundImage = `url('/images/${productId}/${imageProduct}')`;

            // Lấy vị trí của ảnh product
            const { left, top } = productImage.getBoundingClientRect();
            // Đặt vị trí bay ban đầu là vị trí của ảnh
            productFly.style.left = `${left}px`;
            productFly.style.top = `${top}px`;

            document.body.appendChild(productFly);

            // Lấy vị trí của giỏ hàng
            const cartPosition = document.querySelector('.fa-basket-shopping');
            // Lấy kích thước vị trí của giỏ hàng
            const cartRect = cartPosition.getBoundingClientRect();

            // cho ảnh bay đến giỏ
            setTimeout(() => {

                productFly.style.left = `${cartRect.left}px`;
                productFly.style.top = `${cartRect.top}px`;
            }, 100);

            // sau 1s xóa div hiệu ứng bay
            setTimeout(() => {
                productFly.remove();
                location.reload();
            }, 1000);
        }
    }
    function updateTotal() {
        const config = {style : 'currency', currency: 'VND'};
        const itemQuantityDOM = document.querySelectorAll("input[data-product-id]")
        const itemTotalPriceDOM = document.querySelectorAll("[id^='itemTotalPrice']")

        let totalQuantity = 0;
        let totalPrice = 0;

        itemQuantityDOM.forEach((item) => {
            const quantity = parseInt(item.value);
            totalQuantity += quantity
        });
        itemTotalPriceDOM.forEach((item)=> {
            const itemTotalPrice = parseInt(item.innerText.replace(".",""));
            console.log(itemTotalPrice);
            totalPrice+= itemTotalPrice;
        })

        console.log(totalQuantity, totalPrice)
        let totalQuantityDOM = document.getElementById("totalQuantity");
        let totalPriceDOMs = document.querySelectorAll(".totalPrice");

        totalQuantityDOM.innerText = totalQuantity.toString();
        totalPriceDOMs.forEach((totalPriceDOM) => {
            totalPriceDOM.innerText = new Intl.NumberFormat('vi-VN', config).format(totalPrice);
        });

        //update cartbadge
        var cartBadge = document.getElementById('cartBadge');
        cartBadge.innerText = totalQuantity.toString();

    }

</script>
</html>