<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order_User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>
<style>
  #search{
    width: 40%;
  }
  @media only screen and (max-width: 915px) {
    #search {
      width:66%;
    }
    #imgBr{
      width: 70px;
      margin-left: 10px;
    }
  }
</style>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}"><img id="imgBr"
                                                src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                                                alt="brand_icon" width="100px"></a>
    <form class="d-flex" id="search" role="search" th:action="@{/}" method="get">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchProductName">
      <button style="background-color: #5CB85C; color:white;" class="btn btn-outline-success border-0"
              type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/#productAll}">SẢN PHẨM</a>
        </li>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DANH MỤC
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/#productAll}">Tất cả sản phẩm</a></li>
            <th:block th:each="category:${categoryList}">
              <li><a class="dropdown-item" th:href="@{'/categoryByID/' + ${category.categoryID}}">[[${category.categoryName}]]</a></li>
            </th:block>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/order_user}">ĐƠN HÀNG</a>
        </li>
      </ul>

    </div>
    <a class="nav-link" style="margin: 0 2%;" th:href="@{/cart}"><i class="fa-solid fa-basket-shopping"><span
            class="translate-middle badge border border-light rounded-circle bg-danger"
            style="--bs-badge-font-size: 0.5em;" th:text="${totalQuantity}">10</span></i>GIỎ HÀNG</a>
    <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
			<span th:case="${false}">
					<a class="navbar-brand me-1 fs-6" th:href="@{/login}">Đăng nhập</a>|<a class="navbar-brand ms-1 fs-6" th:href="@{/register}">Đăng ký</a>
				</span>
      <span th:case="${true}">
          <div class="dropdown">
              <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span th:text="${loggedInUser.lastName}"></span>
                  <span> </span>
                  <span th:text="${loggedInUser.firstName}"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" th:href="@{/manage-user-account}">Thông tin cá nhân</a></li>
                <!--                            <li><a class="dropdown-item" href="#">Sửa thông tin cá nhân</a></li>-->
                <!--                            <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>-->
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
              </ul>

          </div>
      </span>
    </div>
  </div>
</nav>

<div style="padding: 2% 6%;">
  <div class="btn-group">
    <select id ="selectDropdown" class="btn btn-light dropdown-toggle border text-start" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      <option class="dropdown-item" value="all">Tất cả</option>
      <option class="dropdown-item" value="Đang chờ giao">Đang chờ giao</option>
      <option class="dropdown-item" value="Chờ duyệt">Chờ duyệt</option>
      <option class="dropdown-item" value="Đang giao">Đang giao</option>
      <option class="dropdown-item" value="Hoàn thành">Đã hoàn thành</option>
      <option class="dropdown-item" value="Đã bị hủy">Đã hủy</option>
    </select>
  </div>

  <div class="w-100">
    <div th:each="order : ${orders}" th:attr="data-status=${order.orderStatus}">

      <table class="table table-sm align-middle table-striped border mt-3">
        <thead>
        <tr>
          <th class="col-2"><h6>Mã đơn hàng: <span th:text="${order.id}">1</span></h6></th>
          <th class="col-6"></th>
          <th class="col-1"></th>
          <th class="col-3 text-end" style=""><a th:href="'/order_user/' + ${order.id}+ '/review'"><button class="btn btn-danger" id="review" th:if="${order.orderStatus == 'Hoàn thành' && !#lists.contains(checkReview, order.id)}">Đánh giá</button></a>
            <button class="btn btn-danger" th:if="${order.orderStatus=='Đang chờ giao' or order.orderStatus=='Chờ duyệt'}" th:attr="onclick=|cancelOrder('${order.id}')|" >Hủy đơn hàng</button></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem : ${order.orderDetailList}">
          <th><img th:src="@{${orderItem.product.getPhotosImagePath}}" width="50px" height="50px"></th>
          <td th:text="${orderItem.product.productName}"></td>
          <td th:text="'x ' + ${orderItem.quantity}"></td>
          <td class="text-center" th:text="${#numbers.formatDecimal(orderItem.totalAmount, 1 , 'POINT', 0 , 'DEFAULT')} + ' đ'"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td th:text="${#strings.toUpperCase(order.orderStatus)}">HOÀN THÀNH</td>
          <td></td>
          <td></td>
          <td class="text-end">Thành tiền: <span class="text-danger" th:text="${#numbers.formatDecimal(order.totalPrice, 1 , 'POINT', 0 , 'DEFAULT')} + ' đ'">101.000</span></td>
        </tr>
        </tfoot>
      </table>

    </div>

  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:inline="javascript">
  console.log([[${orders}]])


  const statusSelect = document.getElementById('selectDropdown');
  const orderBlocks = document.querySelectorAll('[data-status]');
  console.log(review)

  statusSelect.addEventListener('change', function() {
    const selectedStatus = statusSelect.value;

    orderBlocks.forEach(orderBlock => {
      const orderStatus = orderBlock.getAttribute('data-status');


      if (selectedStatus === "Hoàn thành" && orderStatus === "Hoàn thành") {
        orderBlock.style.display = 'block';


      } else if (selectedStatus === "Đang chờ giao" && orderStatus === "Đang chờ giao") {
        orderBlock.style.display = 'block';
      } else if (selectedStatus === "Đã bị hủy" && orderStatus === "Đã bị hủy") {
        orderBlock.style.display = 'block';

      }
      else if (selectedStatus === "Đang giao" && orderStatus === "Đang giao") {
        orderBlock.style.display = 'block';


      }
      else if (selectedStatus === "Chờ duyệt" && orderStatus === "Chờ duyệt") {
        orderBlock.style.display = 'block';


      } else if (selectedStatus === "all") {
        orderBlock.style.display = 'block';

      }
      else {
        orderBlock.style.display = 'none';
      }
    });
  });

  async function cancelOrder(orderID) {

    const result = await Swal.fire({
      title: 'Xác nhận',
      text: 'Bạn có chắc chắn muốn hủy đơn hàng?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Đồng ý',
      cancelButtonText: 'Hủy bỏ'
    });

    if (result.isConfirmed) {
      try {
        const response = await fetch(`/order/cancel/${orderID}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },

        });

        if (response.ok) {
          console.log("Đã hủy đơn hàng thành công!");
          Swal.fire({
            icon: 'success',
            title: 'Đã hủy đơn hàng thành công!',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          setTimeout(function () {
            location.reload();
          },1000)

        } else {
          console.error("Hủy đơn hàng thất bại!");
          Swal.fire({
            icon: 'error',
            title: 'Hủy đơn hàng thất bại!',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });

        }
      } catch (error) {
        console.error("Lỗi kết nối: ", error);

      }
    }
  }

</script>
</html>