<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products_Info</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
  .listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
    margin: 0 auto;
  }

  .listPage li {
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }

  .listPage .active {
    background-color: #5CB85C;
    color: white;
  }

  .counter {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .counter input {
    width: 30px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    appearance: none;
    border: 0.5px solid gray;
  }

  .counter span {
    display: block;
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
  }

  div.description {
    padding: 20px 30px;
    height: 250px;
    overflow: auto;
    border: 0.5px solid;
    border-radius: 10px;
  }

  .active {
    border: 0;
    border-bottom: #5CB85C 2px solid;
    color: black;
  }
  #search {
    width: 40%;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
  .product-fly {
    position: fixed;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
    transition: top 1s ease-in-out, left 1s ease-in-out;
    animation: scaleUp 1s ease-in-out;
  }

  @media only screen and (max-width: 915px) {
    #search {
      width: 66%;
    }

    #imgBr {
      width: 70px;
      margin-left: 10px;
    }
    #review {
      width: 100%;
    }
  }
</style>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}"><img id="imgBr"
                                                src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                                                alt="brand_icon" width="100px"></a>
    <form class="d-flex" id="search" role="search" th:action="@{/}" method="get">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
             name="searchProductName">
      <button style="background-color: #5CB85C; color:white;" class="btn btn-outline-success border-0"
              type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/#productAll}">SẢN PHẨM</a>
        </li>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            DANH MỤC
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/#productAll}">Tất Cả Sản Phẩm</a></li>
            <th:block th:each="category:${categoryList}">
              <li><a class="dropdown-item" th:href="@{'/' + ${category.categoryID}}">[[${category.categoryName}]]</a>
              </li>
            </th:block>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/order_user}">ĐƠN HÀNG</a>
        </li>
      </ul>

    </div>
    <a class="nav-link" style="margin: 0 2%;" th:href="@{/cart}"><i class="fa-solid fa-basket-shopping"><span
            class="translate-middle badge border border-light rounded-circle bg-danger"
            style="--bs-badge-font-size: 0.5em;" th:text="${totalQuantity}" id="cartBadge">10</span></i>GIỎ HÀNG</a>
    <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <span th:case="${false}">
                        <a class="navbar-brand me-1 fs-6" th:href="@{/login}">Đăng nhập</a>|<a
                        class="navbar-brand ms-1 fs-6" th:href="@{/register}">Đăng ký</a>
                    </span>
      <span th:case="${true}">
                    <div class="dropdown">
                        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <span th:text="${loggedInUser.lastName}"></span>
                            <span> </span>
                            <span th:text="${loggedInUser.firstName}"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/account}">Thông tin cá nhân</a></li>
                            <li><a class="dropdown-item" href="#">Sửa thông tin cá nhân</a></li>
                            <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
                        </ul>
                    </div>
                </span>
    </div>
  </div>
</nav>

<div th:object="${productInfo}">
  <div style="display: flex; background-color: #5CB85C; color:white;">
    <div class="py-3 px-5">
      <h5>Chi tiết sản phẩm / [[*{productName}]]</h5>
    </div>
  </div>

  <div class="row px-5 py-3 gx-5">
    <div class="col">
      <div class="row">
        <div class="col-6" id="info">
          <img th:src="@{'/images/'+ ${productInfo.img}}" width="200" height="200">
          <div class="mt-2">
            <div style="display: flex;"><span>5 </span>
              <p style="color: yellow; width:108px;margin-bottom: 0;">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i></p>
            </div>
            <div><span>20</span> Đánh giá</div>
            <div><span>30</span> Đã bán</div>
          </div>
        </div>
        <div class="col">
          <h3 class="mt-3 mb-5">[[*{productName}]]</h3>
          <div class="row">
            <div class="col">
              <h6 class="mb-4">Giá bán</h6>
              <h6 class="mb-4">Tình trạng</h6>
              <h6 class="mb-4">Số lượng</h6>
            </div>
            <div class="col" style="text-align: right;">
              <p class="mb-4">[[*{price}]] ₫</p>
              <p class="mb-4" id="checkQuantity">Còn hàng</p>
              <div class="mb-4">
                <div class="counter">
                  <span class="down" onClick='decreaseCount(event, this)'>-</span>
                  <input type="text" value="1" id="inputQuantity">
                  <span class="up" onClick='increaseCount(event, this)'>+</span>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-success border-0" style="background-color: #5CB85C; float:right;" th:attr="onclick=|addToCart('${productInfo.productID}', '${productInfo.productName}',${productInfo.price},'${productInfo.img}', ${productInfo.quantity})|">Thêm vào
            giỏ
          </button>


        </div>
      </div>
      <div class="mt-3">
        <h6>Mô tả sản phẩm</h6>
        <div class="description">
          <p>
            [[*{description}]]
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 mt-3" id="review">
      <div>
        <h6>Đánh giá của khách hàng</h6>
      </div>
      <div class="list border" style="padding:10px 10px 0 10px;">
        <div class="item border mb-3 p-3">
          <div class="row">
            <div class="col-1"><img src="/images/image 10.png" alt="imgUser" width="50" height="50"
                                    class="border">
            </div>
            <div class="col-7">
              <div class="ms-3">
                <h6>LinhNT</h6>
                <p>2023/06/04</p>
              </div>
            </div>
            <div class="col-4 text-end" style="color: yellow;">
              <p style="width:108px; float:right;"><i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i></p>

            </div>
          </div>
          <div class="row mb-1">
            <p>Chất lượng ok</p>
          </div>
          <div class="text-end">
            <button class="border-0">Phản hồi</button>
            <button class="border-0">Xoá</button>
          </div>

        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="button-addon2">
          <button class="btn btn-primary" type="submit" id="button-addon2"><i
                  class="fa-solid fa-paper-plane"></i></button>
        </div>


      </div>

      <div style="position: sticky; top:100%; margin:0 auto;">
        <ul class="listPage">
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

<script th:inline="javascript">



  let thisPage = 1;
  let limit = 3;
  let list = document.querySelectorAll('.list .item');

  function loadItem() {
    let beginGet = limit * (thisPage - 1);
    let endGet = limit * thisPage - 1;
    list.forEach((item, key) => {
      if (key >= beginGet && key <= endGet) {
        item.style.display = 'block';

      } else {
        item.style.display = 'none';
      }
    })
    listPage();

  }

  loadItem();

  function listPage() {
    let count = Math.ceil(list.length / limit);
    document.querySelector('.listPage').innerHTML = '';

    if (thisPage != 1) {
      let prev = document.createElement('li');
      prev.innerHTML = '<i class="fa-solid fa-angles-left"></i>';
      prev.setAttribute('onclick', "changePage(" + (thisPage - 1) + ")");
      document.querySelector('.listPage').appendChild(prev);
    }

    for (i = 1; i <= count; i++) {
      let newPage = document.createElement('li');
      newPage.innerText = i;
      if (i == thisPage) {
        newPage.classList.add('active');
      }
      newPage.setAttribute('onclick', "changePage(" + i + ")");
      document.querySelector('.listPage').appendChild(newPage);
    }
    if (thisPage != count) {
      let next = document.createElement('li');
      next.innerHTML = '<i class="fa-solid fa-angles-right"></i>';
      next.setAttribute('onclick', "changePage(" + (thisPage + 1) + ")");
      document.querySelector('.listPage').appendChild(next);
    }
  }

  function changePage(i) {
    thisPage = i;
    loadItem();
  }

  <!--Quantity button-->
  function increaseCount(a, b) {
    var input = b.previousElementSibling;
    var value = parseInt(input.value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    input.value = value;
  }

  function decreaseCount(a, b) {
    var input = b.nextElementSibling;
    var value = parseInt(input.value, 10);
    if (value > 1) {
      value = isNaN(value) ? 0 : value;
      value--;
      input.value = value;
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
    let limitQuantity = [[${productInfo.quantity}]];
    let quantityInCart = [[${quantityInCart}]];

    let checkquantityDOM = document.getElementById("checkQuantity");

    if(limitQuantity - quantityInCart === 0) {
      checkquantityDOM.innerText = "Hết hàng"
    } else {
      checkquantityDOM.innerText = "Còn hàng"
    }
  });



  async function addToCart(productId, productName, unitPrice, imageProduct, limitQuantity) {
    // console.log([[${quantityInCart}]]);
    // console.log(limitQuantity)
    let quantityDOM = document.getElementById("inputQuantity")
    let quantity = quantityDOM.value;

    if(quantity > 0) {
      try {
        const response = await fetch('/cart/add', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            productId: productId,
            productName: productName,
            quantity: quantity,
            unitPrice: unitPrice,
            imageProduct: imageProduct,
            limitQuantity: limitQuantity

          })
        });

        if (response.ok) {
          console.log('Thêm vào giỏ hàng thành công!');
          animateProductFly(imageProduct);


        } else if (response.status === 400) {
          const data = await response.text();

          console.error(data); // Hiển thị thông báo lỗi "Hết hàng"
          // var button = document.querySelector('.addCart');
          // button.disabled = true;

          Swal.fire({
            icon: 'error',
            title: 'Sản phẩm đã hết hàng hoặc không đủ số lượng!',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });

        } else {
          console.error('Thêm vào giỏ hàng thất bại!');
        }
      } catch (error) {
        console.error(error);
      }
    } else {
      Swal.fire({
        icon: 'error',
        title: 'Vui lòng nhập số lượng ít nhất một sản phẩm!',
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });

      quantityDOM.value = 1;
    }




  }
  function animateProductFly(imageProduct) {
    const productImage = document.querySelector(`img[src$='${imageProduct}']`);
    if (productImage) {
      // Tạo div để tạo hiệu ứng bay vào giỏ
      const productFly = document.createElement('div');
      productFly.classList.add('product-fly');
      // đặt nền là ảnh product
      productFly.style.backgroundImage = `url('/images/${imageProduct}')`;

      // Lấy vị trí của ảnh product
      const { left, top, width } = productImage.getBoundingClientRect();

      const right = (left + width);
      // Đặt vị trí bay ban đầu là vị trí của ảnh
      productFly.style.left = `${right}px`;
      productFly.style.top = `${top}px`;

      document.body.appendChild(productFly);

      // Lấy vị trí của giỏ hàng
      const cartPosition = document.querySelector('.fa-basket-shopping');
      // Lấy kích thước vị trí của giỏ hàng
      const cartRect = cartPosition.getBoundingClientRect();

      // cho ảnh bay đến giỏ
      setTimeout(() => {

        productFly.style.left = `${cartRect.left}px`;
        productFly.style.top = `${cartRect.top}px`;
      }, 100);

      var cartBadge = document.getElementById('cartBadge');
      // Lấy giá trị số lượng trong badge
      var quantityCartBadge = parseInt(cartBadge.innerText);
      // Tăng giá trị số lượng lên 1

      //lay gia tri trong input value
      let quantityDOM = document.getElementById("inputQuantity")
      let quantity = quantityDOM.value;

      quantityCartBadge+= parseInt(quantity)


      // Cập nhật lại số lượng trong badge
      cartBadge.innerText = quantityCartBadge.toString();
      // sau 1s xóa div hiệu ứng bay
      setTimeout(() => {
        productFly.remove();
        location.reload();
      }, 1000);
    }
  }
</script>

</html>