<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products_Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    ul > li {
        margin: 0 10px;
    }

    .listPage {
        padding: 10px;
        text-align: center;
        list-style: none;
        margin: 0 auto;
    }

    .listPage li {
        background-color: white;
        padding: 10px 20px;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }

    .listPage .active {
        background-color: #5CB85C;
        color: white;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .counter input {
        width: 30px;
        line-height: 20px;
        font-size: 15px;
        text-align: center;
        appearance: none;
        border: 0.5px solid gray;
    }

    .counter span {
        display: block;
        font-size: 25px;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
    }

    div.description {
        padding: 20px 30px;
        height: 250px;
        overflow: auto;
        border: 0.5px solid;
        border-radius: 10px;
    }

    .active {
        border: 0;
        border-bottom: #5CB85C 2px solid;
        color: black;
    }

    @media only screen and (max-width: 970px) {
        #review {
            width: 100%;
        }
    }
</style>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/admin}"><img id="imgBr"
                                              src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                                              alt="brand_icon" width="100px"></a>


        <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/product}">SẢN PHẨM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/sale}">BÁN HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/orders}">ĐƠN HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin/category}">DANH MỤC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/suppliers}">NHÀ CUNG CẤP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/import}">NHẬP HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/list-account}">QUẢN LÝ TÀI KHOẢN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/statistic}">THỐNG KÊ</a>
                </li>
            </ul>

        </div>
        <div class="dropdown me-4">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, <span th:text="${loggedInUser.lastName}"></span>
                <span th:text="${loggedInUser.firstName}"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" th:href="@{/admin/profile}">Thông tin cá nhân</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
            </ul>
        </div>

    </div>
</nav>
<div th:object="${productInfo}">
    <div style="display: flex; background-color: #5CB85C; color:white;">
        <div class="py-3 px-5">
            <h5>Quản lý sản phẩm / [[*{productName}]]</h5>
        </div>
    </div>

    <div class="row px-5 py-3 gx-5">
        <div class="col">
            <div class="row">
                <div class="col-6" id="info">
                    <img th:src="@{'/images/'+ ${productInfo.img}}" width="200" height="200">
                    <div class="mt-2">
                        <div style="display: flex;"><span>5 </span>
                            <p style="color: #FFD700; width:108px;margin-bottom: 0;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i></p>
                        </div>
                        <div><span>20</span> Đánh giá</div>
                        <div><span>30</span> Đã bán</div>
                    </div>
                </div>
                <div class="col">
                    <h3 class="mt-3 mb-5">[[*{productName}]]</h3>
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-4">Giá bán</h6>
                            <h6 class="mb-4">Tình trạng</h6>
                            <h6 class="mb-4">Số lượng</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <p class="mb-4">[[*{price}]] ₫</p>
                            <p class="mb-4">Còn hàng</p>
                            <div class="mb-4">
                                <div class="counter">
                                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                    <input type="text" value="1">
                                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success border-0" style="background-color: #5CB85C; float:right;">Thêm vào
                        giỏ
                    </button>


                </div>
            </div>
            <div class="mt-3">
                <h6>Mô tả sản phẩm</h6>
                <div class="description">
                    <p>
                        [[*{description}]]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3" id="review">
            <div>
                <h6>Đánh giá của khách hàng</h6>
            </div>
            <div class="list border" style="padding:10px 10px 0 10px;" id="list">

                <div class="item border mb-2 p-3" th:each="review : ${reviewAll}">
                    <div class="row">
                        <div class="col-1"><img src="/images/image 10.png" alt="imgUser" width="50" height="50"
                                                class="border">
                        </div>
                        <div class="col-7">
                            <div class="ms-3">
                                <h6 th:text="${review.user.fullName}"></h6>
                                <p th:text="${review.postDate}"></p>
                            </div>
                        </div>
                        <div class="col-4 text-end" style="color:#ddd;">
                            <div style="width:108px; float:right;" id="star">
                                <p style="display: none" th:text="${review.star}"></p>
                                <i class="fa-solid fa-star" id="1"></i>
                                <i class="fa-solid fa-star" id="2"></i>
                                <i class="fa-solid fa-star" id="3"></i>
                                <i class="fa-solid fa-star" id="4"></i>
                                <i class="fa-solid fa-star" id="5"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="m-0" th:text="${review.content}"></p>
                    </div>
                    <div class="text-end">
                        <div class="dropdown me-2"></a>
                            <a th:href="'/admin/productInfo/' + ${review.product.productID} + '/reply/' + ${review.reviewID}">Phản hồi</a>
                            <button class="dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Phản hồi
                            </button>
                            <a th:href="'/admin/productInfo/' + ${review.product.productID} + '/delete/' + ${review.reviewID}">
                                <button class="border-0">Xoá</button>
                            </a>
                            <div class="dropdown-menu w-100 p-0">

                                <div class="border p-3" th:id="'review'+${review.reviewID}">
                                    <th:block th:each="reply : ${replyAll}">
                                        <div class="row">
                                            <div class="col-1"><img src="#" alt="imgUser" width="50" height="50"
                                                                    class="border">
                                            </div>
                                            <div class="col-7">
                                                <div class="ms-3">
                                                    <h6>[[${reply.userID.fullName}]]</h6>
                                                    <p>[[${reply.postDate}]]</p>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <button class="border-0">Xoá</button>

                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <p>[[${reply.content}]]</p>
                                        </div>
                                    </th:block>
                                </div>

                                <div class="border p-2">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">Phản hồi</span>
                                        <input type="text" class="form-control" aria-describedby="button-addon2">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="fa-solid fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="input-group mb-2">
                    <form class="w-100 d-flex" method="post" th:action="'/admin/productInfo/'+ ${productInfo.productID} +'/newComment'" th:object="${addComment}">
                        <input type="text" th:value="${loggedInUser.id}" id="user" name="user" style="display: none">
                        <input type="text" th:value="${productInfo.productID}" id="product" name="product" style="display: none">
                        <input type="text" class="form-control" aria-describedby="button-addon2" th:field="*{content}">
                        <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                class="fa-solid fa-paper-plane"></i></button>
                    </form>


                </div>


            </div>

            <div style="position: sticky; top:100%; margin:0 auto;">
                <ul class="listPage">
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    let thisPage = 1;
    let limit = 3;
    let list = document.querySelectorAll('.list .item');

    function loadItem() {
        let beginGet = limit * (thisPage - 1);
        let endGet = limit * thisPage - 1;
        list.forEach((item, key) => {
            if (key >= beginGet && key <= endGet) {
                item.style.display = 'block';

            } else {
                item.style.display = 'none';
            }
        })
        listPage();

    }

    loadItem();

    function listPage() {
        let count = Math.ceil(list.length / limit);
        document.querySelector('.listPage').innerHTML = '';

        if (thisPage != 1) {
            let prev = document.createElement('li');
            prev.innerHTML = '<i class="fa-solid fa-angles-left"></i>';
            prev.setAttribute('onclick', "changePage(" + (thisPage - 1) + ")");
            document.querySelector('.listPage').appendChild(prev);
        }

        for (i = 1; i <= count; i++) {
            let newPage = document.createElement('li');
            newPage.innerText = i;
            if (i == thisPage) {
                newPage.classList.add('active');
            }
            newPage.setAttribute('onclick', "changePage(" + i + ")");
            document.querySelector('.listPage').appendChild(newPage);
        }
        if (thisPage != count) {
            let next = document.createElement('li');
            next.innerHTML = '<i class="fa-solid fa-angles-right"></i>';
            next.setAttribute('onclick', "changePage(" + (thisPage + 1) + ")");
            document.querySelector('.listPage').appendChild(next);
        }
    }

    function changePage(i) {
        thisPage = i;
        loadItem();
    }

    <!--Quantity button-->
    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 0 : value;
            value--;
            input.value = value;
        }
    }

    /*Hiển thị sao đánh giá*/
    let item = document.getElementById("list").children
    let count = item.length;

    for (let i = 0; i < count; i++) {
        let perItem = item[i].children;
        let row1 = perItem[0].children;
        let col3 = row1[2].children;
        let review = col3[0].children;

        let star = review[0].innerText;
        if (star > 0) {
            for (let j = 1; j <= star; j++) {
                review[j].style.color = "#FFD700";
            }
        } else {
            for (let j = 0; j < 6; j++) {
                review[j].style.display = "none";
            }
        }
    }
</script>

</html>