<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    li {
        margin: 0 5px;
    }
    .listPage {
        padding: 10px;
        text-align: center;
        list-style: none;
    }

    .listPage li {
        background-color: white;
        padding: 10px 20px;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }

    .listPage .active {
        background-color: #5CB85C;
        color: white;
    }

    #edit,
    #addNew {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: none;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    .active {
        border: 0;
        border-bottom: #5CB85C 2px solid;
        color: black;
    }

    @media only screen and (max-width: 1015px) {
        #search, #manage {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
        }
        #dropdownSupplier {
            width:60%;
        }
        #btnAdd{
            width:40%;
        }
    }
    a{
        text-decoration: none;
    }
</style>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}"><img id="imgBr"
                src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                alt="brand_icon" width="100"></a>
        <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/product}">SẢN PHẨM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sale}">BÁN HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order}">ĐƠN HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category}">DANH MỤC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/suppliers}">NHÀ CUNG CẤP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/import}">NHẬP HÀNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/list-account}">QUẢN LÝ TÀI KHOẢN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">THỐNG KÊ</a>
                </li>

            </ul>
        </div>
        <div class="dropdown me-4">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, <span th:text="${loggedInUser.lastName}"></span>
                <span th:text="${loggedInUser.firstName}"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" th:href="@{/admin/profile}">Thông tin cá nhân</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="px-5">
    <div class="row align-middle mt-4 mb-4">
        <div class="col-2" id="manage">
            <h4 style="color: #5CB85C;">Quản lý sản phẩm</h4>
        </div>
        <div id="search" class="col-5">
            <form class="d-flex" role="search" onsubmit="searchProduct()">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchName">
                <button style="background-color: #5CB85C; color:white;" class="btn btn-outline-success border-0"
                        type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="col-2" id="dropdownSupplier">
            <select class="form-select" id="supplierDropdown" onchange="getProductBySupplierId()">

                <option th:value="0">Tất cả nhà cung cấp</option>
                <th:block th:each="supplier : ${suppliers}">

                    <option th:value="${supplier.supplierID}" th:text="${supplier.supplierName}"></option>
                </th:block>
            </select>

        </div>
        <div class="col-3 text-end" id="btnAdd">
            <button style="background-color: #5CB85C; color:white;vertical-align: middle;" type="button"
                    class="btn btn-success shadow-sm border-0"
                    onclick="openAddNew()">Thêm mới<i style="font-size: 23px; vertical-align: middle;"
                                                       class="fa-solid fa-square-plus ms-3"></i></button>
        </div>
    </div>


    <table class="table text-center align-middle border">
        <thead class="table-secondary">
        <tr>
            <th class="col-1">Mã sản phẩm</th>
            <th class="col-1">Hình ảnh</th>
            <th class="col-5">Tên sản phẩm</th>
            <th class="col-1">Loại</th>
            <th class="col-1">Số lượng</th>
            <th class="col-1">Giá bán</th>
            <th class="col-2">Chức năng</th>
        </tr>
        </thead>
        <tbody class="list">
        <th:block th:each="product:${products}">
            <tr class="item">
                <td>[[${product.productID}]]</td>
                <td><img th:src="@{'images/'+ ${product.img}}" width="70"></td>
                <td>[[${product.productName}]]</td>
                <td>[[${product.unit}]]</td>
                <td>[[${product.quantity}]]</td>
                <td>[[${product.price}]]</td>
                <td>
                    <a th:href="@{'/productInfo/' + ${product.productID}}">
                        <button type="button" class="btn btn-secondary">Xem</button>
                    </a>
                    <button type="button" class="btn btn-primary" onclick="openEdit()">Sửa</button>
                    <button type="button" class="btn btn-danger">Xoá</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div style="position: sticky; top:100%; margin:0 auto;">
        <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>

</div>
<div id="edit">
    <div style="background-color: white; border-radius:10px;" class="shadow-lg w-50 mt-5">
        <h6 style="background-color:black; color:white; padding:15px; border-radius:10px 10px 0 0;">
            Cập nhật thông tin sản phẩm ID: <span>1</span>
        </h6>
        <form style="padding: 10px 30px;">
            <div class="form-floating mb-3" style="display: flex;">
                <img class="border" src="/static/images/image 10.png" alt="" width="80" height="80">
                <input type="file" id="imageP" name="imageP" style="margin: 50px 10px 0 10px;">
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="productName">
                <label for="productName">Tên sản phẩm</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="unit">
                <label for="unit">Khối lượng</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="quantity">
                <label for="quantity">Số lượng</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="price">
                <label for="price">Giá bán</label>
            </div>

            <div class="form-floating mb-2">
                <textarea class="form-control" id="description" rows="3"></textarea>
                <label for="description">Mô tả</label>
            </div>
            <div>
                <label for="typeP" class="me-3">Loại sản phẩm: </label>
                <select id="typeP" name="roles">
                    <option value="none">Không</option>
                    <option value="fruits">Trái cây</option>
                    <option value="leaf">Rau ăn lá</option>
                </select>
            </div>
            <div style="float: right; margin-bottom:10px;">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="submit" class="btn btn-secondary" onclick="closeEdit()">Huỷ</button>
            </div>
        </form>
    </div>
</div>


<div id="addNew">
    <div style="background-color: white; border-radius:10px;" class="shadow-lg w-50 mt-5">
        <h6 style="background-color:black; color:white; padding:15px; border-radius:10px 10px 0 0;">
            Thêm sản phẩm mới
        </h6>
        <form style="padding: 10px 30px;">
            <div class="form-floating mb-3" style="display: flex;">
                <img class="border" src="/static/images/image 10.png" alt="" width="80" height="80">
                <input type="file" id="imageP1" name="imageP" style="margin: 50px 10px 0 10px;">
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="productName1">
                <label for="productName1">Tên sản phẩm</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="unit1">
                <label for="unit1">Khối lượng</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="quantity1">
                <label for="quantity1">Số lượng</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="price1">
                <label for="price1">Giá bán</label>
            </div>

            <div class="form-floating mb-2">
                <textarea class="form-control" id="description1" rows="3"></textarea>
                <label for="description1">Mô tả</label>
            </div>
            <div>
                <label for="typeP1" class="me-3">Loại sản phẩm: </label>
                <select id="typeP1" name="roles">
                    <option value="none">Không</option>
                    <option value="fruits">Trái cây</option>
                    <option value="leaf">Rau ăn lá</option>
                </select>
            </div>
            <div style="float: right; margin-bottom:10px;">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="submit" class="btn btn-secondary" onclick="closeAddNew()">Huỷ</button>
            </div>
        </form>
    </div>
</div>

</body>
<script>
    let thisPage = 1;
    let limit = 5;
    let list = document.querySelectorAll('.list .item');

    function loadItem() {
        let beginGet = limit * (thisPage - 1);
        let endGet = limit * thisPage - 1;
        list.forEach((item, key) => {
            if (key >= beginGet && key <= endGet) {
                item.style.display = 'table-row';

            } else {
                item.style.display = 'none';
            }
        })
        listPage();

    }

    loadItem();

    function listPage() {
        let count = Math.ceil(list.length / limit);
        document.querySelector('.listPage').innerHTML = '';

        if (thisPage != 1) {
            let prev = document.createElement('li');
            prev.innerHTML = '<i class="fa-solid fa-angles-left"></i>';
            prev.setAttribute('onclick', "changePage(" + (thisPage - 1) + ")");
            document.querySelector('.listPage').appendChild(prev);
        }

        for (i = 1; i <= count; i++) {
            let newPage = document.createElement('li');
            newPage.innerText = i;
            if (i == thisPage) {
                newPage.classList.add('active');
            }
            newPage.setAttribute('onclick', "changePage(" + i + ")");
            document.querySelector('.listPage').appendChild(newPage);
        }
        if (thisPage != count) {
            let next = document.createElement('li');
            next.innerHTML = '<i class="fa-solid fa-angles-right"></i>';
            next.setAttribute('onclick', "changePage(" + (thisPage + 1) + ")");
            document.querySelector('.listPage').appendChild(next);
        }
    }

    function changePage(i) {
        thisPage = i;
        loadItem();
    }

    <!--Open form Add New-->
    function openAddNew() {
        let x = document.getElementById("addNew");
        x.style.display = "flex";
    }

    function closeAddNew() {
        let x = document.getElementById("addNew");
        x.style.display = "none";
    }

    function openEdit() {
        let x = document.getElementById("edit");
        x.style.display = "flex";
    }

    function closeEdit() {
        let x = document.getElementById("edit");
        x.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const supplierID = localStorage.getItem("selectedSupplierID");
        if (supplierID) {
            const supplierDropdown = document.getElementById("supplierDropdown");
            supplierDropdown.value = supplierID;
        }
    });

    function getProductBySupplierId() {
        let supplierID = document.getElementById("supplierDropdown").value;
        localStorage.setItem("selectedSupplierID", supplierID);

        if (supplierID) {
            const url = new URL(window.location.href);
            const searchParams = url.searchParams;
            if (searchParams.has('searchName')) {
                searchParams.delete('searchName'); // Xóa tham số searchName nếu có
            }
            url.searchParams.set('supplierID', supplierID);
            window.location.href = url;
        }
        saveSelectedSupplierID(supplierID);
    }

    function searchProduct() {
        const url = new URL(window.location.href);
        const searchParams = url.searchParams;
        // Kiểm tra và xóa tham số supplierID nếu có
        if (searchParams.has('supplierID')) {
            searchParams.delete('supplierID');
        }
    }
</script>

</html>