<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    ul>li {
        margin: 0 10px;
    }

    #search {
        width: 658px;
        margin: auto 20px;
    }

    .add {
        width: 160px;
        height: 50px;
        border: 1px solid #8FC742;
        border-radius: 5px;
        color: #8FC742;
        margin: 15px auto 0 500px;
        font-size: 20px;
        background-color: white;
    }

    .listPage {
        padding: 10px;
        text-align: center;
        list-style: none;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 86%;
        transform: translate(-50%, -50%);
    }

    .listPage li {
        background-color: white;
        padding: 10px 20px;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }

    .listPage .active {
        background-color: #8FC742;
        color: white;
    }

    #edit, #addNew{
        position: absolute;
        z-index:2;
        background-color:rgba(0, 0, 0, 0.5);
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        display: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .active {
        border: 0;
        border-bottom: #8FC742 2px solid;
    }
</style>

<body>
<div id="edit">
    <div style="background-color: white; width:550px; border-radius:10px;" class="shadow-lg">
        <h6 style="height: 50px; background-color:black; color:white; padding:15px; border-radius:10px 10px 0 0;">
            Cập nhật thông tin nhà cung cấp ID: <span id="supplierIDSpan">1</span>
        </h6>
        <form action="/suppliers" method="put" style="padding: 20px">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="supplierNameEdit" name="supplierNameEdit">
                <label for="supplierNameEdit">Tên nhà cung cấp</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="supplierPhoneEdit" name="supplierPhoneEdit">
                <label for="supplierPhoneEdit">Số điện thoại</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="supplierAddressEdit" name="supplierAddressEdit">
                <label for="supplierAddressEdit">Địa chỉ</label>
            </div>
            <div style="float: right; margin-bottom:20px;">
                <button type="button" class="btn btn-primary" onclick="submitEditForm()">Lưu</button>
                <button type="button" class="btn btn-secondary" onclick="closeEdit()">Huỷ</button>
            </div>

        </form>
    </div>
</div>


<div id="addNew">
    <div style="background-color: white; width:550px; border-radius:10px;" class="shadow-lg">
        <h6 style="height: 50px; background-color:black; color:white; padding:15px; border-radius:10px 10px 0 0;">
            Thêm nhà cung cấp mới
        </h6>
        <form action="/suppliers" method="post" style="padding: 20px;">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="supplierName" name="supplierName" required >
                <label for="supplierName">Tên nhà cung cấp</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phone" name="phone" required pattern="[0-9]{10}" title="Vui lòng nhập số gồm 10 chữ số và không chứa chữ cái!">
                <label for="phone">Số điện thoại</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="address" name="address">
                <label for="address">Địa chỉ</label>
            </div>
            <div style="float: right; margin-bottom:20px;">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary" onclick="closeAddNew()">Hủy</button>
            </div>
        </form>

    </div>

</div>


<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid shadow-sm" style="height: 100px;">
            <a class="navbar-brand" th:href="@{/}"><img
                    src="https://img.freepik.com/premium-vector/organic-icon-100-percent-organic-product-label_349999-1003.jpg?w=2000"
                    alt="brand_icon" width="150"></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/product}">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sale}">BÁN HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order}">ĐƠN HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/category}">DANH MỤC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/suppliers}">NHÀ CUNG CẤP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/import}">NHẬP HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/list-account}">QUẢN LÝ TÀI KHOẢN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">THỐNG KÊ</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown me-5">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ADMIN
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="#">Sửa thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div style="margin: 30px;">
    <div style="display: flex; background-color:#8FC742; color:white;">
        <div style="height:80px; padding:25px 100px;">
            <h4>Quản lý nhà cung cấp</h4>
        </div>
        <div id="search">
            <form class="d-flex" role="search" th:action="@{/suppliers}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       style="height:50px;" name="searchName">
                <button class="btn btn-success" type="submit"
                        style=" margin-left:-100px; height:45px; width:87px; margin-top:3px; background-color:#8FC742; border:0;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <button type="button" class="add shadow-sm" onclick="openAddNew()">Thêm mới<i style="float: right; font-size: 40px;"
                                                                                       class="fa-solid fa-square-plus"></i></button>
    </div>


    <table class="table text-center mt-3 align-middle border">
        <thead class="table-secondary" style="background-color: #8FC742; height:50px;">
        <tr>
            <th scope="col-1">Mã nhà cung cấp</th>
            <th scope="col-2">Tên nhà cung cấp</th>
            <th scope="col-5">Số điện thoại</th>
            <th scope="col-1">Địa chỉ</th>
            <th scope="col-2">Chức năng</th>
        </tr>
        </thead>
        <tbody class="list">
        <tr class="item" th:each="supplier : ${suppliers}">
            <td th:text="${supplier.supplierID}"></td>
            <td th:text="${supplier.supplierName}"></td>
            <td th:text="${supplier.address}"></td>
            <td th:text="${supplier.phone}"></td>
            <td>
                <button type="button" class="btn btn-primary" th:onclick="'openEdit(' + ${supplier.supplierID} + ')'">Sửa</button>
                <button type="button" class="btn btn-danger" th:onclick="'deleteSupplier(' + ${supplier.supplierID} + ')'">Xoá</button>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="listPage">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
    </ul>

</div>

<footer class="position-absolute bottom-0 end-0  shadow-lg p-4"
        style="height: 70px; width:100%; background-color:black; color:white;">
    <div class="footer-bottom clearfix">
        <div class="container">
            <div class="row">
                &copy; 2023 - Vegetables Store by Group 4
            </div>
        </div>
    </div>
</footer>
</body>
<script th:inline="javascript">
    let thisPage = 1;
    let limit = 5;
    let list = document.querySelectorAll('.list .item');

    function loadItem() {
        let beginGet = limit * (thisPage - 1);
        let endGet = limit * thisPage - 1;
        list.forEach((item, key) => {
            if (key >= beginGet && key <= endGet) {
                item.style.display = 'table-row';

            }
            else {
                item.style.display = 'none';
            }
        })
        listPage();

    }
    loadItem();
    function listPage() {
        let count = Math.ceil(list.length / limit);
        document.querySelector('.listPage').innerHTML = '';

        if (thisPage != 1) {
            let prev = document.createElement('li');
            prev.innerHTML = '<i class="fa-solid fa-angles-left"></i>';
            prev.setAttribute('onclick', "changePage(" + (thisPage - 1) + ")");
            document.querySelector('.listPage').appendChild(prev);
        }

        for (i = 1; i <= count; i++) {
            let newPage = document.createElement('li');
            newPage.innerText = i;
            if (i == thisPage) {
                newPage.classList.add('active');
            }
            newPage.setAttribute('onclick', "changePage(" + i + ")");
            document.querySelector('.listPage').appendChild(newPage);
        }
        if (thisPage != count) {
            let next = document.createElement('li');
            next.innerHTML = '<i class="fa-solid fa-angles-right"></i>';
            next.setAttribute('onclick', "changePage(" + (thisPage + 1) + ")");
            document.querySelector('.listPage').appendChild(next);
        }
    }
    function changePage(i) {
        thisPage = i;
        loadItem();
    }

    <!--Open form Add New-->
    function openAddNew() {
        let x = document.getElementById("addNew");
        x.style.display = "flex";
    }

    function closeAddNew() {
        let x = document.getElementById("addNew");
        x.style.display = "none";
    }

  async function openEdit(supplierID) {

    try {

        const response = await fetch(`/suppliers/${supplierID}`, {
            method: "GET"
        });


        const data = await response.json();
        console.log(data)

        // Đổ thông tin nhà cung cấp vào form sửa
      document.getElementById("supplierIDSpan").textContent = data.supplierID;
      document.getElementById("supplierNameEdit").value = data.supplierName;
      document.getElementById("supplierPhoneEdit").value = data.phone;
      document.getElementById("supplierAddressEdit").value = data.address;

        // Hiển thị form sửa
        document.getElementById("edit").style.display = "flex";
    } catch (error) {
        console.error('Lỗi:', error.message);
    }
}

async function submitEditForm() {
    // Lấy thông tin từ form sửa
    const supplierID =  document.getElementById("supplierIDSpan").textContent;
    const supplierName = document.getElementById("supplierNameEdit").value;
    const phone = document.getElementById("supplierPhoneEdit").value;
    const address = document.getElementById("supplierAddressEdit").value;


    try {
        const response = await fetch(`/suppliers/${supplierID}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                supplierName: supplierName,
                phone: phone,
                address: address
            })
        });

        // Tắt form sửa
        document.getElementById("edit").style.display = "none";

    } catch (error) {
        console.error('Lỗi:', error.message);
    }
     location.reload();
}


    function closeEdit() {
        let x = document.getElementById("edit");
        x.style.display = "none";

    }


  async function deleteSupplier(supplierID) {
      const apiUrl = '/suppliers/' + supplierID;

      const confirmed = confirm('Bạn có chắc chắn muốn xóa nhà cung cấp này?');

      if (confirmed) {
        try {
          const response = await fetch(apiUrl, {
            method: 'DELETE'
          });

          if (!response.ok) {
            throw new Error('Đã xảy ra lỗi khi xóa nhà cung cấp từ API!');
          }
          location.reload();

        } catch (error) {
          console.error('Lỗi:', error.message);
          alert('Đã xảy ra lỗi khi xóa nhà cung cấp từ API!');
        }
      } else {

      }
}
</script>

</html>